# Choose which headers get added to emails. This is a matter of personal taste, 
# We like the following as it’s not too verbose:

use = ["x-spamd-bar", "x-spam-level", "authentication-results"];
authenticated_headers = ["authentication-results"];