-- If tables are not dropped, have to truncate before insert or use "insert or replace" (not postgres compatible)

DROP TABLE IF EXISTS "virtual_users";
DROP TABLE IF EXISTS "virtual_aliases";
DROP TABLE IF EXISTS "virtual_domains";

CREATE TABLE IF NOT EXISTS "virtual_domains" (
        "id" SERIAL,
        "name" TEXT NOT NULL,
        PRIMARY KEY ("id")
);

CREATE UNIQUE INDEX name_idx ON virtual_domains (name);

CREATE TABLE IF NOT EXISTS "virtual_users" (
        "id" SERIAL,
        "domain_id" int NOT NULL,
        "password" TEXT NOT NULL,
        "email" TEXT NOT NULL UNIQUE,
        PRIMARY KEY ("id"),
        FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
);


CREATE UNIQUE INDEX email_idx ON virtual_users (email);

CREATE TABLE IF NOT EXISTS "virtual_aliases" (
        "id" SERIAL,
        "domain_id" int NOT NULL,
        "source" TEXT NOT NULL,
        "destination" TEXT NOT NULL,
        PRIMARY KEY ("id"),
        FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
);

CREATE INDEX source_idx ON virtual_aliases (source);

{% for virtual_domain in mail_virtual_domains %}
INSERT INTO "virtual_domains" ("id", "name")
        VALUES ('{{ virtual_domain.pk_id }}', '{{ virtual_domain.name }}');
{% endfor %}

{% for virtual_user in mail_virtual_users %}
INSERT INTO "virtual_users"  ("domain_id", "password" , "email")
	VALUES (
		'{{ virtual_user.domain_pk_id }}',
		'{{ virtual_user.password | doveadm_pw_hash }}',
		'{{ virtual_user.account }}@{{ virtual_user.domain }}'
	);
{% endfor %}

{% if mail_virtual_aliases is defined %}
{% for virtual_alias in mail_virtual_aliases %}
INSERT INTO "virtual_aliases" ("domain_id", "source", "destination")
    VALUES ('{{ virtual_alias.domain_pk_id }}', '{{ virtual_alias.source }}', '{{virtual_alias.destination }}');
{% endfor %}
{% endif %}

{######################################################################################################}
{# Create rfc2142 mailboxes as aliases unless they are already defined as a mailbox, or another alias #}
{######################################################################################################}

{% for virtual_domain in mail_virtual_domains if virtual_domain.rfc2142_destination is defined %}

{% set ns = namespace(abuse=true) %}
{% set ns.root=true %}
{% set ns.hostmaster=true %}
{% set ns.postmaster=true %}
{% set ns.webmaster=true %}

{# Skip aliasing mailboxes which are set up as real mailboxes #}

{% for virtual_user in mail_virtual_users if virtual_user.domain == virtual_domain.name %}
{% if ( virtual_user.account == 'abuse') %}
{% set ns.abuse = false %}
{% endif %}
{% if ( virtual_user.account == 'root') %}
{% set ns.root = false %}
{% endif %}
{% if ( virtual_user.account == 'hostmaster') %}
{% set ns.hostmaster = false %}
{% endif %}
{% if ( virtual_user.account == 'postmaster') %}
{% set ns.postmaster = false %}
{% endif %}
{% if ( virtual_user.account == 'webmaster') %}
{% set ns.webmaster = false %}
{% endif %}
{% endfor %}

{# Skip aliasing mailboxes which already have a defined alias (must be templated, postgres upsert 
'on conflict do nothing' requires columns with the unique constraing )  #}

{% for virtual_alias in mail_virtual_aliases if virtual_alias.domain_pk_id == virtual_domain.pk_id %}
{% if ( virtual_alias.source == 'abuse@' + virtual_domain.name ) %}
{% set ns.abuse = false %}
{% endif %}
{% if ( virtual_alias.source == 'root@' + virtual_domain.name ) %}
{% set ns.root = false %}
{% endif %}
{% if ( virtual_alias.source == 'hostmaster@' + virtual_domain.name ) %}
{% set ns.hostmaster = false %}
{% endif %}
{% if ( virtual_alias.source == 'postmaster@' + virtual_domain.name ) %}
{% set ns.postmaster = false %}
{% endif %}
{% if ( virtual_alias.source == 'webmaster@' + virtual_domain.name ) %}
{% set ns.webmaster = false %}
{% endif %}
{% endfor %}

{# Do the inserts #}

{% if ns.abuse %}
INSERT INTO "virtual_aliases" ("domain_id", "source", "destination")
    VALUES ('{{ virtual_domain.pk_id }}', 'abuse@{{ virtual_domain.name }}', '{{ virtual_domain.rfc2142_destination }}');
{% endif %}
{% if ns.root %}
INSERT INTO "virtual_aliases" ("domain_id", "source", "destination")
    VALUES ('{{ virtual_domain.pk_id }}', 'root@{{ virtual_domain.name }}', '{{ virtual_domain.rfc2142_destination }}');
{% endif %}
{% if ns.hostmaster %}
INSERT INTO "virtual_aliases" ("domain_id", "source", "destination")
    VALUES ('{{ virtual_domain.pk_id }}', 'hostmaster@{{ virtual_domain.name }}', '{{ virtual_domain.rfc2142_destination }}');
{% endif %}
{% if ns.postmaster %}
INSERT INTO "virtual_aliases" ("domain_id", "source", "destination")
    VALUES ('{{ virtual_domain.pk_id }}', 'postmaster@{{ virtual_domain.name }}', '{{ virtual_domain.rfc2142_destination }}');
{% endif %}
{% if ns.webmaster %}
INSERT INTO "virtual_aliases" ("domain_id", "source", "destination")
    VALUES ('{{ virtual_domain.pk_id }}', 'webmaster@{{ virtual_domain.name }}', '{{ virtual_domain.rfc2142_destination }}');
{% endif %}

{% endfor %}

