Mailserver (domain):      {{ domain }}
Mailserver (hostname):    mail.{{ domain }}
Mailserver (ip addr):     {{ mxip }}

###
### Mailserver DNS
###
{{ domain }}                    MX     mail.{{ domain }}
{{ domain }}                    A      {{ mxip }}
autoconfig.{{ domain }}         A      {{ mxip }}
mail.{{ domain }}               A      {{ mxip }}
{{ domain }}                    TXT    v=spf1 mx a a:mail.{{ domain }} ~all
_dmarc.{{ domain }}             TXT    v=DMARC1; p=reject rua=mailto:postmaster@{{ domain }}
{{ revip.stdout }}              IN PTR mail.{{ domain }}

###
### Domain DNS {{ outer_item.name }}
###
{{ outer_item.name }}                    MX    mail.{{ domain }}
mail.{{ outer_item.name }}               CNAME mail.{{ domain }}
autoconfig.{{ outer_item.name }}         CNAME autoconfig.{{ domain }}
{{ outer_item.name }}                    TXT   v=spf1 mx a a:mail.{{ domain }} ~all
_dmarc.{{ outer_item.name }}             TXT   v=DMARC1; p=reject rua=mailto:postmaster@{{ domain }}

